<div class="container-fluid">
  <div class="form-group" style="margin-top: 100px;">
    <div class="form-row" *ngIf="isFileInvalid">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-center">
        <p class="alert alert-danger">Invalid file type !! Please select JSON file </p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-4 text-right">
        <h4> JSON URL </h4>
      </div>
      <div class="col-sm-3">
        <input type="text" [(ngModel)]="urlValue" class="form-control" />
      </div>
      <div class="col-sm-4 text-left">
        <button class="btn btn-primary" (click)="fetchData()"> Browse
        </button>
      </div>
    </div>
  </div>
  <div class="form-group" style="margin-top: 20px;">
    <div class="form-row">
      <div class="col-sm-4 text-right">
        <h4> Local File System </h4>
      </div>
      <div class="col-sm-3 text-left">
        <input type="file" class="file-input" accept="application/JSON" (change)="onFileSelected($event)" #fileUpload>
        <button class="btn btn-primary" (click)="fileUpload.click()"> Choose File
        </button>
      </div>
    </div>
  </div>
</div>